.App {
  text-align: center;

}

 .divisor {
  display: flex;
  border-top: solid #282c34 2px;
  padding-bottom: 1rem;
}

.active {
  background: #69fb61;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

